.card1 {
    width: 328px;
    height: 590px;
    margin: 50px;
    box-shadow: 30px 10px 25px -5px rgb(202, 187, 187);
}

.photo photo {
    width: 100%;
    height: 10px;
    border-radius: 10px 10px 0px 0px;
}

.content {
    padding: 20px;
}

.content * {
    margin: 10px;
}

.content p {
    font-size: 20px;
}

.content span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

small {
    font-size: 18px;
    color: rgb(111, 105, 105);
}

.crossPrice {
    text-decoration: line-through;
}

.offer {
    color: rgb(12, 180, 26);
}

.button {
    margin: 10px;
    padding: 10px;
}

.button a {
    text-decoration: none;
    background-color: rgb(33, 214, 450);
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
}

.button img {
    color: black;
}


.card2 {
    margin: 40px;
    width: 350px;
    min-height: 250px;
    box-shadow: 30px 10px 25px -5px rgb(202, 187, 187);
}

.image {
    display: flex;
}

.img {
    padding: 20px;
    padding-bottom: 10px;
}

.img img {
    width: 100px;
    height: 100%;
    border: 0.5px solid rgb(86, 57, 202);
    border-radius: 19px;
    background-image: linear-gradient(red, yellow);
}

.text {
    padding: 40px 0px;
}

.text p {
    margin: 15px auto;
}

.bottom {
    display: flex;
    justify-content: space-around;
}

.bottom span,
.bottom a {
    cursor: pointer;
}

.bottom a {
    text-decoration: none;
    color: rgb(7, 17, 165);
}