*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
    font-size: 15px;
    font-family:;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(33, 123, 128);;
    padding: 20px 50px;
    box-shadow: 30px 10px 50px 20px rgba(9, 7, 7, 0.765);
    position:relative;
    width: 100%;
    height: 80px;
   color: #000;
   border-bottom: 4px  solid rgb(37, 26, 26);
   border-radius:0px 0px 20px 20px;
    opacity:0.85;
    z-index:999;
}

nav .left-nav{
   
}

nav .right-nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

nav .right-nav ul li{
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    /* color: white; */
}


.docs{
    display:flex;
}

.docs .left-docs{
    width: 15vw;
    height: 90.5vh;
    background-color:white;
    padding: 20px;
    overflow-y: auto;
}

.left-docs::-webkit-scrollbar{
    width: 10px;
}
.left-docs::-webkit-scrollbar-track{
    background-color: white;
}
.left-docs::-webkit-scrollbar-thumb{
    background-color:rgb(33, 123, 128);
    border-radius:30px;
}

.left-docs h1{
    text-align: center;
}

.left-docs ul{
    margin: 20px 0px 0px 0px;
    width: 100%;
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.left-docs ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color:rgb(33, 123, 128);
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.left-docs ul li:hover{
    transform: scale(1.3);
    transition: 0.2s ease-in-out;
}

.docs .right-docs{
    width: 85vw;
    height: 90.5vh;
    padding: 30px;
    overflow-y: auto;
}

.right-docs::-webkit-scrollbar{
    width: 10px;
}
.right-docs::-webkit-scrollbar-track{
    background-color:rgb(245, 246, 247);
}
.right-docs::-webkit-scrollbar-thumb{
    background-color:rgb(33, 123, 128);
    border-radius: 20px;
}


.bt{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
@media screen and (max-width:800px) {
    .docs .left-docs{
        width: 40vw;
    
    }
    .docs .right-docs{
        width: 60vw;
    }

    html{
        font-size:15px
    }

    .left-docs ul li{
        width: 70px;
    }
}